/* Escribe aqui tu CSS */
div{
width: 200px;
height: 180px;
border: 8px solid yellow;
}

#centrado{
text-align: center;
padding: 5px;
}


#izquierda{
text-align: left;
padding: 5px;
margin-left: 300px;
}
